<template>
    <div class="catalog">
        <h1>{{ msg }}</h1>
        <div class="filters">
            <button v-for="category in categories" v-on:click="filtercategory = category" :key="category">{{category}}</button>
        </div>

        <div v-for="product in filteredProducts" class="product-wrapper">
            <div class="product-image"><img
                    v-bind:src="'https://magento2.demo.ambientia.fi/media/catalog/product/' + product.custom_attributes[2].value">
            </div>
            <div class="product-name">{{ product.name }}</div>
            <div class="product-price">{{ product.price }}€</div>
            <a v-bind:href="'#/product/' + product.id">Katso tarkemmin</a>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Catalog',
  data () {
    return {
      msg: 'Fabulous stuff in our catalog',
      products: [],
      categories: [],
      filtercategory: 'All'
    }
  },
  created: function() {
    this.$http.get('https://magento2.demo.ambientia.fi/json').then(function (response) {
      console.log(response.data)
      this.products = response.data.items
      var categories = []
      categories.push('All')
      response.data.items.forEach(function (item) {
        if(categories.indexOf(item.category)==-1 && item.category)
          categories.push(item.category)
      })
      this.categories = categories
    })
  },
  computed: {
    filteredProducts () {
      if (this.filtercategory!=='All')
        return this.products.filter(product => {
          return product.category == this.filtercategory
        })
      else
        return this.products
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
.product-wrapper {
  display: inline-block;
  width: 300px;
  height: 450px;
  border: 1px indigo solid;
  margin: 20px;
  padding: 10px;
}
.product-image img{
  width: 100%;
}
.product-name {
  font-size: large;
  margin: 10px 0 10px 0;
}
a {
  color: #42b983;
}
</style>
