<template>
    <div class="product">
        <h1>{{ msg }}</h1>
        <div class="product-wrapper">
            <div class="product-name">{{ product.name }}</div>
            <div class="product-description">{{ product.custom_attributes[0].value | striphtml }}</div>
            <div class="product-price">{{ product.price }}€</div>
            <div class="product-image"><img
                    v-bind:src="'https://magento2.demo.ambientia.fi/media/catalog/product/' + product.custom_attributes[2].value">
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Product',
  props: ['id'],
  data () {
    return {
      msg: 'Fabulous stuff in our catalog',
      product: ''
    }
  },
  created: function() {
    this.$http.get('https://magento2.demo.ambientia.fi/json').then(function (response) {
      var product_id = this.id
      var product_data = ''
      response.data.items.forEach(function (item) {
        if(item.id == product_id)
          product_data = item
      })
      this.product = product_data
    })
  },
  filters: {
    striphtml: function(value) {
      return value.replace(/<\/?[^>]+(>|$)/g, "")
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
.product-wrapper {
  display: inline-block;
  /*width: 300px;*/
  /*height: 450px;*/
  /*border: 1px indigo solid;*/
  margin: 20px;
  padding: 10px;
}
.product-image img{
  width: 40%;
}
.product-name {
  font-size: large;
  margin: 10px 0 10px 0;
}
.product-description {
    margin: 10px 0 10px 0;
}
a {
  color: #42b983;
}
</style>
